body{
    font-family: 'Lato', sans-serif;
    color: #333;
}

img{
    max-width: 100%;
    height: auto;
    display: block;
}

* {
    box-sizing: border-box;
}

a{
    color: $mainOrange;
}

p{
    font-size: 1.1rem;
    letter-spacing: 0.9px;
}

strong{
    font-weight: 700;
}

li{
     list-style-type: none;
}