.wrapper {
    overflow: hidden;
    width: 90%;
    max-width: 1236px;
    margin: 5% auto;

    &--medium {
        max-width: 976px;
    }

    &--narrow {
        max-width: 470px;
    }

    &--no-padding-until-medium {
        padding-left: 0;
        padding-right: 0;

        @mixin at778 {
            padding-left: 18px;
            padding-right: 18px;
        }
    }

    &--no-padding-until-large {
        padding-left: 0;
        padding-right: 0;

        @mixin at1010 {
            padding-left: 18px;
            padding-right: 18px;
        }
    }

    .wrapper {
        padding-left: 0;
        padding-right: 0;
    }

    &--b-margin {
        margin-bottom: 1rem;

        @mixin at530 {
            margin-bottom: 3.875rem;

        }
    }

    &-no-margin {

        @mixin at530 {
            margin: 0 auto;
        }
    }
}
