.all-products {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    flex-wrap: wrap;

    &--inner {
        flex-basis: 27%;
        min-width: 300px;
        margin-bottom: 10%;
        text-align: center;
    }

}
