.btn {
    background-color: $mainGreen;
    color: #fff;
    text-decoration: none;
    padding: .6rem 1rem;
    display: inline-block;
    font-size: 0.9rem;

    @mixin at530 {
        padding: .75rem 1.2rem;
        font-size: 1.15rem;
    }
    
     &-yellow{
            background-color: $mainOrange;
         @mixin at1010{
             background-color: $mainGreen;
         }
        } 

    &--orange {
        background-color: $mainOrange;
    }

    &--large {
        padding: 1.1rem 1.9rem;

        @mixin at530 {
            font-size: 1.25rem;
        }   

    }

    &--inverse {
        background-color: #fff;
        color: $mainGreen;
        box-shadow: 2px 2px 0 rgba(0, 0, 0, 0.3);
    }

    &--inverse:hover {
        background-color: $mainGreen;
        color: #fff;
    }

    &--center {
        border: solid 1px $mainGreen;
        text-align: center;
    }

    &--smallest {
        @mixin at530 {
            padding: 0.1rem 0.75rem;
        }
    }

}

.centered-btn {
    text-align: center;
    width: 100%;
    margin:  0 auto;
}
