.departments {
    margin: 0 auto;
    text-align: left;
    background: url('../../assets/images/dept-bg.png') center center no-repeat;
    background-size: cover;

    &__inner {
        display: flex;
        justify-content: space-around;
        align-items: flex-start;
        width: 70%;
        margin: 4% auto;

    }

    &__inner--left {

        align-self: center;

        &__icon {
            background-color: $mainGreen;
            display: inline-block;
            margin: 0 5px 5px 5px;
            width: 122px;
            height: 122px;
            position: relative;
            border-radius: 50%;
            transition: all 0.4s ease-out;
        }

        &__icon:hover {
            background-color: #333;
        }

        .icon {
            display: block;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);

        }
    }

    &__inner--right {
        margin: 0 auto 0 30px;
    }

    &__sub-heading {
        text-align: left;
        color: $mainGreen;
        font-size: 1.65rem;
        margin: 0 auto;
    }

    .icon--large {
        width: 77px;
        height: 77px;
        background-size: 1000%;
        left: 48%;
    }

    .icon--small {
        top: 62%;
        left: 66%;
    }

}
