.departments-page {
    display: block;

    @mixin at530 {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
    }

    &--inner {
        flex-basis: 27%;

    }
}
