.our-services {
    background-color: rgba($mainGreen, 0.35);
 background: url('../../assets/images/service-bg.png') center center no-repeat;
    background-size: cover;
    background-size: cover;
    display: flex;
    justify-content: flex-end;
    padding: 5% 0;

    &__inner {
        flex-basis: 50%;
        
        &--sub-heading{
            font-size: 1.5rem;
            padding:3px 5px;
        }
        
         &--sub-heading:hover{
            font-size: 1.5rem;
             background-color: $mainGreen;
            width: 70%;
        }
    }
}
