#particles-js {
    height: 300px;
    width: 100%;
    position: relative;
    top: 0;
    left: 0;
    background: -moz-linear-gradient(18deg, #1e8c7f 0%, #1e8c7f 39%, #008080 87%, #008080 100%);
    /* ff3.6+ */
    background: -webkit-gradient(linear, left top, right top, color-stop(0%, #1e8c7f), color-stop(39%, #1e8c7f), color-stop(87%, #008080), color-stop(100%, #008080));
    /* safari4+,chrome */
    background: -webkit-linear-gradient(18deg, #1e8c7f 0%, #1e8c7f 39%, #008080 87%, #008080 100%);
    /* safari5.1+,chrome10+ */
    background: -o-linear-gradient(18deg, #1e8c7f 0%, #1e8c7f 39%, #008080 87%, #008080 100%);
    /* opera 11.10+ */
    background: -ms-linear-gradient(18deg, #1e8c7f 0%, #1e8c7f 39%, #008080 87%, #008080 100%);
    /* ie10+ */
    background: linear-gradient(72deg, #1e8c7f 0%, #1e8c7f 39%, #008080 87%, #008080 100%);
    /* w3c */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#1e8c7f', endColorstr='#008080', GradientType=1);
    /* ie6-9 */
}

/*
#particles-js-1 {
    position: absolute;
    top: 0;
    left: 0;
    height: 300px;
    width: 100%;
    background: transparent;
}
*/

#particles-js-2{
    height: 500px;
    width: 100%;
    position: relative;
    background-color: #000;
}
